.error_box {
	display: block;
	position: fixed;
	top: 5%;
	max-width: 80%;
	box-sizing: border-box;
        background: #fff;
        border: 1px solid #333;
        border-radius: 6px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	margin-left: auto;
	margin-left: auto;
}